In [2]:
import pandas as pd
import re

In [12]:
test_data = ['[<em class="letter" id="infoJiga">3,402,000</em>]','[<em class="letter" id="infoJiga">3,401,000</em>]','[<em class="letter" id="infoJiga">3,400,000</em>]','[<em class="letter" id="infoJiga">2,000</em>]']
print(test_data)

['[<em class="letter" id="infoJiga">3,402,000</em>]', '[<em class="letter" id="infoJiga">3,401,000</em>]', '[<em class="letter" id="infoJiga">3,400,000</em>]', '[<em class="letter" id="infoJiga">2,000</em>]']

In [13]:
df = pd.DataFrame(test_data)
df.head()

                                                   0
0  [<em class="letter" id="infoJiga">3,402,000</em>]
1  [<em class="letter" id="infoJiga">3,401,000</em>]
2  [<em class="letter" id="infoJiga">3,400,000</em>]
3      [<em class="letter" id="infoJiga">2,000</em>]

In [10]:
def get_numeric(data):
    match = re.search('>(.+)<', data)
    if match:
        return int(match.group(1).replace(',',''))
    
    return None

In [11]:
df[1] = df[0].apply(get_numeric)
df.head()

                                                   0        1
0  [<em class="letter" id="infoJiga">3,402,000</em>]  3402000
1  [<em class="letter" id="infoJiga">3,401,000</em>]  3401000
2  [<em class="letter" id="infoJiga">3,400,000</em>]  3400000
3      [<em class="letter" id="infoJiga">2,000</em>]     2000