In [1]:
import pandas as pd

In [23]:
df1=pd.read_csv('52410684.txt',delimiter='\t',index_col=None)

In [24]:
df1.head()

   Time  Node  AppId  SeqNo   Name Type  HopCount
0   0.0     5      0      0  abcp1  abc         1
1   0.8     5     12      0  abcp1  abc         0